<form action="/survey" method="post">
  <p>How many words will you write per day?</p>
  <input type="radio" name="word_count" value="250">250
  <input type="radio" name="word_count" value="500">500
  <input type="radio" name="word_count" value="1000">1000
  <br>

  <p>If you had to pick one, which way do you lean politically?</p>
  <input type="radio" name="political" value="liberal">Left
  <input type="radio" name="political" value="conservative">Right
  <br>

  <p>Do you recycle yogurt containers?</p>
  <input type="radio" name="recycle" value="yes">Yes, how else do you sleep at night?
  <br>
  <input type="radio" name="recycle" value="no">Ew, gross, I hate rinsing.
  <br>

  <input type="submit">
</form>