<div class="landing">
  <h1>NiteWriter</h1>
</div>







<div class="landing-text">

  <h3>Motivation for anyone that builds things with words.</h3> <br>
  <br><br>

 <h4>Set and track your goals.</h4>
 <p>Set daily writing goals for your self and let write7 keep track of your progress.</p><br>
  <br><br>


  <h4>Use the Power of Peer Pressure to stay motivated!</h4>
  <p>Designate writing partners that will receive weekly updates regarding your progress. You can also have sign-up through Facebook and have your progress posted to you wall.</p><br>
  <br><br>



  <h4>Need stronger motivation?</h4>
  <p>Write7 will also charge you a procrastination penalty in the form of a $1 charitable contribution to a charity not of your choosing each week you fail to meet your goal.</p><br>


</div>


