<div class="landing">
  <h1 class="nitewriter">NiteWriter</h1>
  <h6 class="tagline">Motivation for anyone that builds things with words.</h6>
</div>

  
<br><br>
<div class="landing-text">


  <br><br>
  <h1 class= "headline"> Welcome to Nitewriter </h1>

  <br>
  <p class="copy">Is procrastination holding you back? Is the thought of pulling yet another all-nighter unbearable? Are you tired of the shame and hard feelings missed deadlines can bring? Then Nightwriter is for you. Nightwriter combines a distraction free writing environment with the power of social media to get you writing now and keep you writing until the job is done. Whatever you want to write Nitewriter will help.
  </p>
  
   <br><br> <br><br>
    <div class="finish"></div>
    <br><br>

  <h1 class="headline">Set and Track Your Goals</h1>
    <br>
  <p class="copy">Nitewriter makes it easy for you to make progress. Just create an account through Facebook set the number of words you want to write each day and start writing! Nightwriter keeps track of how many words you write every day and every week.</p>


  <br><br> <br><br>
   <div class="peerpressure"></div>
  <br><br> 
   


  <h1 class= "headline">Use the Power of Peer Pressure to Stay Motivated</h1>
  <br>
  <p class="copy">Facebook integration allows you to  harness the power of positive peer pressure to keep you on track. Fall short of your goal and Nitewriter will tell all your friends by way of a post to your wall. Or use our Twilio integration to designate a  writing partner and Nightwriter will send them a weekly text message regarding your progress. 
    <br>
  Fail to meet your goals and Nitewriter will make a $1 contribution to a charity not of your choosing…and share your unintentional  contribution with all your friends.
  </p>
  

</div>


