<div class="landing">
  <h1 class="nitewriter">NiteWriter</h1>
  <h5 class="tagline">Motivation for anyone that builds things with words.</h5>
</div>

<div class="landing-text">
  <br> <br>


  <h1 class="headline">Set and track your goals.</h1>
  <p>Set daily writing goals for your self and let write7 keep track of your progress.</p>
    
    <div class="peerpressure"></div>
    <br><br>

  <h1>Use the Power of Peer Pressure to stay motivated!</h1>
  <p>Designate writing partners that will receive weekly updates regarding your progress. You can also have sign-up through Facebook and have your progress posted to you wall.</p><br>
 

    <br><br>
    <div class="finish"></div>
    <br><br>


  <h1>Need stronger motivation?</h1>
  <p>Write7 will also charge you a procrastination penalty in the form of a $1 charitable contribution to a charity not of your choosing each week you fail to meet your goal.</p><br>


</div>


