<div class="landing">
  <h1 class="nitewriter">NiteWriter</h1>
  <p class="tagline">Motivation for anyone that builds things with words.</p>
</div>

<div class="landing-text">
  <br> <br>


  <h2>Set and track your goals.</h2>
  <p>Set daily writing goals for your self and let write7 keep track of your progress.</p><br>

    <div class="peerpressure"></div>
    <br> <br>

  <h2>Use the Power of Peer Pressure to stay motivated!</h2>
  <p>Designate writing partners that will receive weekly updates regarding your progress. You can also have sign-up through Facebook and have your progress posted to you wall.</p><br>
 

    <br><br>
    <div class="finish"></div>
    <br><br>


  <h2>Need stronger motivation?</h2>
  <p>Write7 will also charge you a procrastination penalty in the form of a $1 charitable contribution to a charity not of your choosing each week you fail to meet your goal.</p><br>


</div>


