<div class="landing">
<h1>NiteWriter</h1>
</div>
<p>Motivation for anyone that needs to build things with words.</p>

 <h2>Set and track your goals!</h2>
 <p>Set daily writing goals for your self and let write7 keep track of your progress.</p>



<h2>Use the Power of Peer Pressure to stay motivated.</h2>
<p>Designate writing partners that will receive weekly updates regarding your progress. You can also have sign-up through Facebook and have your progress posted to you wall.</p>




<h2>Need stronger motivation?</h2>
<p>Write7 will also charge you a procrastination penalty in the form of a $1 charitable contribution to a charity not of your choosing each week you fail to meet your goal.</p>




