<h1>NiteOwl</h1>
<h2>Start writing now... or else</h2>
<%= link_to 'My Blog', controller: 'articles' %>

<%= button_to 'Signup', new_user_path, method: :get %>

<%= button_to "Login", new_session_path, method: :get %>