<h1>NiteOwl</h1>
<h2>Start writing now... or else</h2>
<%= link_to 'My Blog', controller: 'articles' %>

<%= button_to 'Signup', controller: 'users' %>

<%= button_to "Login", controller: 'sessions' %>