
body {
  background-color: #FFFFFB;
  margin-right: 15px;
  margin-left: 15px;
}


.navigation { /* leaving option for gradient open */
    @include background(linear-gradient( #FFFFFb,#FFFFFB) left repeat);
   height: 50px;
   text-align: right;


}

.landing {
  height: 500px;
  color: #FFFFFB;
  background: url('./niteowl.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-text {
  text-align: center;
}  

.shaming {
  margin-bottom: 50px;
  box-shadow:none;
}

div.shaming:hover, div.current-week:hover, div.previous-week:hover {
  -moz-box-shadow: 0 0 5px rgba(255,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(255,0,0,0.5);
  box-shadow: 0 0 5px rgba(255,0,0,0.5);
  }


.current-week {
    margin-bottom: 50px;
  }



/* FFFFFB = off-white */