
body {
  background-color: #FFFFFB;
  margin: .5px;
}


.navigation { /* leaving option for gradient open */
    @include background(linear-gradient( #F2F2F2,#FFFFFB) left repeat);
   height: 50px;
   text-align: right;


}

.landing {
  height: 500px;
  color: #FFFFFB;
  background: url('./niteowl.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-text {
  text-align: center;
  margin-right: 110px;
  margin-left: 110px;
}  

.shaming {
  margin-bottom: 50px;
  box-shadow:none;
}

div.shaming:hover, div.current-week:hover, div.previous-week:hover {
  -moz-box-shadow: 0 0 5px rgba(255,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(255,0,0,0.5);
  box-shadow: 0 0 5px rgba(255,0,0,0.5);
  }


.current-week {
    margin-bottom: 50px;
  }

.finish {
  background: url('./finish.jpg') no-repeat center center ; 
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right: 50px;
  margin-left: 50px;

  
}

.peerpressure{
  background: url('./keepp.jpg') no-repeat center center ; 
  height: 400px;


}

.motivation {
  background: url('./motivation.jpg') no-repeat center center ; 
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right: 50px;
  margin-left: 50px;

 } 

.tagline {
  font-weight: 550;
  padding-left: 3px;
}

.nitewriter {
  padding-top: 3px;
  padding-left: 3px;
} 

/* FFFFFB = off-white */