
.navigation {
   background-image: url('./niteowl.jpg');
   height: 50px;
   text-align: right;

}

.landing {
  background-image: url('./niteowl.jpg');
  color: #F7F7F7;
}

body {
  background-color: #F7F7F7;

}



* {
  font: "Times";
}